html, body{
    background-image: none;
}
.shortlink {
    font-size: smaller;
}
th{
    padding-left: 20px;
}
section#main{
    width: 100%;
}
#hypexplorerml{
	width: 256px;
	display: block;
	margin: 50px auto 20px auto;
}
#links{
    position: absolute;
    right: 40px;
    top: 36px;
}
#links a{
    display: block;
    padding: 5px;
}
#footer{
    text-align: center;
    color: white;
    height: 60px;
    clear: both;
    padding: 10px;
}
#search .module_content{
	margin: 0;
	margin-bottom: 1px;
}
#searchBar{
    width: 100%;
    height: 35px;
    padding-left:10px;
    padding-right:10px;
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: bold;
    background-color: #FFF;
}
#nav{
    position: relative;
   margin: 10px 20px 0px 20px;
    font-weight: bold;
}
#nav p{

    top: 0;
}
#navP2{
    text-align: center;
    margin-bottom: 10px;
}
#navP3{
    right: 0;
    margin-bottom: 10px;
}
#navP1{
    margin-bottom: 10px;
}
#navP1 a, #navP3 a{
    padding: 0 4px;
    font-size: 13px;
}

.navbutton {
    height: 20px;
}
strong{
    padding-right: 3px;
    color: #666;
}
.module_content{
    line-height: 1.5em;
    word-wrap: break-word
}
.width_3_quarter {
    width: 75%;
    min-width: 920px
}
.center3Quart{
    margin-left: 12%;
}
.negativeValue{
    color: #C00;
}
#limitTxs{
    text-align: center;
}
.chart{
    width: 90%;
    height: 250px;
    left: 5%;
    margin: 12px 0;
}
#poolShare{
    height: 300px;
}

section p {
    color: #FFF
}

ul {
  list-style-type: none;
}

#nav p {
    color: #333
}

